@model VaccineDataCollection.Models.Vaccine

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Vaccine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VaccineName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VaccineName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VaccineDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VaccineDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VaccineID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
