@model IEnumerable<VaccineDataCollection.Models.Vaccine>

@{
    ViewData["Title"] = "Vaccines - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Vaccines</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VaccineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaccineDesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VaccineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaccineDesc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VaccineID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.VaccineID">Delete</a> | 
                <a asp-controller="ClinicalTrials" asp-action="Index">See Clinical Trials</a>
            </td>
        </tr>
}
    </tbody>
</table>
